<div>

    <input type="text" name="employee_id"><br>
    <input type="text" name="account_number"><br>
    <input type="text" name="sim_serial_number"><br>
    <input type="text" name="service_number"><br>
    <input type="text" name="short_code"><br>
    <input type="text" name="cleared"><br>
    <input type="text" name="display_name"><br>
    <input type="text" name="current_id"><br>
    <input type="text" name="city"><br>
    <input type="text" name="package"><br>
    <input type="text" name="payment_value"><br>
    <input type="text" name="PUK"><br>
    <input type="text" name="PIN"><br>
    <input type="text" name="request_number"><br>
    <input type="text" name="comments"><br>


    <input type="submit" value="Submit">

</div>


